.min-vh-100 {
  min-height: 95vh;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.full-width {
  width: 100%;
}

.googleBtn {
  display: flex;
  justify-content: center;
}