<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Point of Sale System</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>
</mat-toolbar>
<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      
      <mat-list-item routerLink="dashboard">
        <mat-button routerLink="dashboard" class="button-flex">
          <span class="material-symbols-outlined"> dashboard </span>
          <span class="list-items">Dashboard</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item routerLink="ventas">
        <mat-button routerLink="ventas" class="button-flex">
          <span class="material-symbols-outlined"> shopping_cart </span>
          <span class="list-items">Ventas</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item routerLink="inventario">
        <mat-button routerLink="inventario" class="button-flex">
          <span class="material-symbols-outlined"> inventory </span>
          <span class="list-items">Inventario</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item routerLink="categorias" >
        <mat-button routerLink="categorias" class="button-flex">
          <span class="material-symbols-outlined"> category </span>
          <span class="list-items">Categorias</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item  routerLink="proveedores" >
        <mat-button routerLink="proveedores" class="button-flex">
          <span class="material-symbols-outlined"> business </span>
          <span class="list-items">Proveedores</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item>
        <mat-button routerLink="dashboard" class="button-flex">
          <span class="material-symbols-outlined"> bar_chart </span>
          <span class="list-items">Reportes</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item>
        <mat-button routerLink="dashboard" class="button-flex">
          <span class="material-symbols-outlined"> people </span>
          <span class="list-items">Empleados</span>
        </mat-button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-button routerLink="dashboard" class="button-flex">
          <span class="material-symbols-outlined"> settings </span>
          <span class="list-items">Settings</span>
        </mat-button>
      </mat-list-item>

      <mat-list-item>
        <mat-button routerLink="dashboard" class="button-flex">
          <span class="material-symbols-outlined"> help </span>
          <span class="list-items">Help</span>
        </mat-button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
