<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Point of Sale System</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>Home</button>
  </mat-toolbar>
  <mat-drawer-container autosize class="example-container">
    <mat-drawer #drawer opened="true" mode="side" position="start" class="custom-drawer">
      <mat-nav-list>
        <!-- Dashboard Link -->
        <mat-list-item routerLink="dashboard">
          <mat-button routerLink="dashboard" class="button-flex">
            <span class="material-symbols-outlined"> dashboard </span>
            <span class="list-items">Dashboard</span>
          </mat-button>
        </mat-list-item>
  
        <!-- Sales Section -->
        <mat-divider></mat-divider>
        <h2 class="menu-title">Ventas</h2>
  
        <mat-list-item routerLink="ventas">
          <mat-button routerLink="ventas" class="button-flex">
            <span class="material-symbols-outlined"> sell </span>
            <span class="list-items">Ventas</span>
          </mat-button>
        </mat-list-item>
  
        <mat-list-item routerLink="carrito">
          <mat-button routerLink="carrito" class="button-flex">
            <span class="material-symbols-outlined">
              shopping_cart_checkout
            </span>
            <span class="list-items">Carrito</span>
          </mat-button>
        </mat-list-item>
  
        <!-- Inventory Section -->
        <mat-divider></mat-divider>
        <h2 class="menu-title">Inventario</h2>
        <mat-list-item routerLink="inventario">
          <mat-button routerLink="inventario" class="button-flex">
            <span class="material-symbols-outlined"> inventory </span>
            <span class="list-items">Inventario</span>
          </mat-button>
        </mat-list-item>
  
        <mat-list-item routerLink="categorias">
          <mat-button routerLink="categorias" class="button-flex">
            <span class="material-symbols-outlined"> category </span>
            <span class="list-items">Categorias</span>
          </mat-button>
        </mat-list-item>
  
        <mat-list-item routerLink="productos">
          <mat-button routerLink="productos" class="button-flex">
            <span class="material-symbols-outlined"> inventory_2 </span>
            <span class="list-items">Productos</span>
          </mat-button>
        </mat-list-item>
  
        <!-- User Management Section -->
        <mat-divider></mat-divider>
        <h2 class="menu-title">Gestión de Usuarios</h2>
        <mat-list-item routerLink="clientes">
          <mat-button routerLink="clientes" class="button-flex">
            <span class="material-symbols-outlined"> people </span>
            <span class="list-items">Clientes</span>
          </mat-button>
        </mat-list-item>
  
        <mat-list-item routerLink="empleados">
          <mat-button routerLink="empleados" class="button-flex">
            <span class="material-symbols-outlined"> frame_person </span>
            <span class="list-items">Empleados</span>
          </mat-button>
        </mat-list-item>
  
        <!-- Suppliers Link -->
        <mat-divider></mat-divider>
  
        <mat-list-item routerLink="proveedores">
          <mat-button routerLink="proveedores" class="button-flex">
            <span class="material-symbols-outlined"> local_shipping </span>
            <span class="list-items">Proveedores</span>
          </mat-button>
        </mat-list-item>
  
  
        <mat-divider></mat-divider>
  
        <mat-list-item>
          <mat-button routerLink="settings" class="button-flex">
            <span class="material-symbols-outlined"> settings </span>
            <span class="list-items">Settings</span>
          </mat-button>
        </mat-list-item>
  
        <mat-list-item>
          <mat-button routerLink="help" class="button-flex">
            <span class="material-symbols-outlined"> help </span>
            <span class="list-items">Help</span>
          </mat-button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
   
  </mat-drawer-container>
  